body{
    font-family: sans-serif;
    margin: 0;
}
/***********************************HOME PAGE**********************************/
.navbar{
    border: none;
    background-color: #004d00;
}
/**Commonlinks**/
#commonlinks a{
    background-color: #000a1a;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
}
#commonlinks a:hover,
a:focus,
a:active{
    background-color: #808080;
    border-radius: 50px;
    transition: all 0.45s;
}
/*****************************************************************/
/**Home-Page-Heading**/
h1.nhs-header{
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0.1em;
}
@media all and (max-width : 767px){
    h1.nhs-header{
        font-size: 35px;
        padding-left: 30px;
    }
}
@media all and (max-width : 402px){
    h1.nhs-header{
        font-size: 25px;
    }
}
/***********************************LOGIN PAGE**********************************/
/**Login header**/
.header-two h2{
    color: #004d00;
    font-size: 40px;
    margin-top: 150px;
    text-align: center;
    text-shadow: 15px 10px 10px #c0c0c0;
}
/*****************************************************************/
@media all and (max-width : 1100px){
    .header-two h2{
        font-size: 30px;
    }
}
@media all and (max-width : 800px){
    .header-two h2{
        font-size: 25px;
    }
}
@media all and (max-width : 500px){
    .header-two h2{
        font-size: 20px;
    }
}
@media all and (max-width : 400px){
    .header-two h2{
        font-size: 16px;
    }
}
/*****************************************************************/
#login-wrapper{
    background-color: #f5f5f0;
    border: 1px solid #d3d3d3;
    border-radius: 40px;
    box-shadow: 20px 20px 15px #c0c0c0;
    height: auto;
    margin: 100px auto 250px auto;
    width: 80%;
}

@media all and (max-width : 900px){
    #login-wrapper{
        border-radius: 0;
        box-shadow: 10px 10px 5px #c0c0c0;
        width: 100%;
    }
}
#login-wrapper h3{
    background: #004d00;
    color: #ffffff;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin: 0px;
    padding: 20px;
    text-align: center;
}
@media all and (max-width : 470px){
    #login-wrapper h3{
        font-size: 20px;
    }
}
@media all and (max-width : 402px){
    #login-wrapper h3{
        font-size: 15px;
    }
}

/*****************************************************************/
/**Login wrapper**/
#login{
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 0px 0px 40px 40px;
    display: block;
    height: auto;
    margin: 150px auto 50px auto;
    width: 50%;
}
@media all and (max-width : 900px){
    #login{
        width: 100%
    }
}
/*****************************************************************/
#login img{
    border-radius: 60%;
    box-shadow: 5px 5px 1px #c0c0c0;
    display: block;
    margin: -80px auto auto auto;
    max-width: 30%;
}
/*****************************************************************/
#login p{
    text-align: center;
    padding: 20px;
}
#login-form label{
    font-size: 12px;
    padding: 0;
    margin: -15px 0 0px 0;
}
/**Login form**/
#login-form{
    padding: 5px 20px 30px 20px;
}
#login-form input[type = text],
input[type = password]{
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}
#login-form input[type = submit]{
    background-color: #004d00;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    margin: 30px 0px;
    padding: 14px 20px;
    width: 100%;
}
#login-form input[type = submit]:hover{
    background-color: #5c5c3d;
}
span.psw,
.username{
    float: right;
    padding: 20px;
}
/***********************************ADMIN PANEL**********************************/

.image img{
    display: block;
    margin: 150px auto auto auto;
}
#header h1{
    color: #004d00;
    font-size: 40px;
    margin: 50px 0px 150px 0px;
    text-align: center;
}
table{
    box-shadow: 15px 15px 10px #c0c0c0;
    margin-bottom: 200px;
}
.error{
    color: #990000;
    font-size: 13px;
    line-height: 10px;
    padding: 50px;

}
.error_msg{
    background: #ffcccc;
    border: 1px solid #3c763d;
    border-radius: 5px;
    color: #3c763d;
    margin: 30px auto;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.msg{
    background: #dff0d8;
    border: 1px solid #3c763d;
    border-radius: 5px;
    color: #3c763d;
    margin: 30px auto;
    padding: 10px;
    width: 50%;
    text-align: center;
}
.btn{
    background-color: #556B2F;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    margin: 30px 0px;
    padding: 14px 20px;
    width: 100%;
}
.edit_btn{
    background: #2E8B57;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

.del_btn{
    background: #800000;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
#login_form{
    background-color: #f5f5f0;
    border: 1px solid #d3d3d3;
    height: auto;
    padding: 5px 20px 30px 20px;
    float: right;
    width: 30%
}
@media all and (max-width : 768px){
   #login_form {
        float:left;
        margin:150px 0px 150px 0px;
        width: 100%
    }
}
#login_form h1{
    background: #004d00;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin: -5px -20px;
    padding: 20px;
    text-align: center;
}
#login_form label{
    font-size: 12px;
    padding: 0;
    margin: 20px 0 0 0;
}

#login_form input[type = text]{
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}
td{
    border: 1px solid #dddddd;
    padding: 10px 2px 10px 10px;
}
th{
    background-color: #004d00;
    color: #e6e6e6;
    text-align: center;
    padding: 10px 20px 10px 30px;
}
tr:nth-child(even){
    background-color: #f5f5f0;
}
/***********************************FOOTER**********************************/
footer{
    background-color: #004d00;
    clear: both;
    color: #ffffff;
    margin-top: 200px;
    padding: 20px;

}
footer p{
    color: #ffffff;
    opacity: 0.8;
    text-align: center;
}
